@import "tailwindcss";

/* IGNORAR LA PREFERENCIA DE TEMA DEL EQUIPO */
@custom-variant dark (&:where(.dark, .dark *));

/* CONFIGURAR EL TEMA OSCURO */
@theme{
    --color-primary-light: #FFFFFF;
    --color-secondary-light: #F5F8FF;
    --color-primary-dark: #121212;
    --color-secondary-dark: #333333;
    --color-blue-high: #2196f3;
    --color-blue-medium: #6eb8f5; 
    --color-blue-normal: #9acef8;
    --color-blue-light: #e8f5ff;
}

/* CLASES CSS PERSONALES */
.activo{
    @apply flex items-center gap-2 px-2 py-1 my-2 border-b-2 border-transparent rounded-md bg-blue-high hover:-translate-y-1 text-white font-semibold transition-all duration-300 ease-in-out;
}
.inactivo{
    @apply flex items-center gap-2 px-2 py-1 my-2 border-b-2 border-transparent hover:-translate-y-1 hover:border-blue-high hover:text-blue-high dark:text-white transition-all duration-300 ease-in-out;
}